In [ ]:
import pandas as pd

# fields
# company,pdf_source,year

df = pd.read_csv("../spreadsheet/climate_arc_matches.csv")
df.head(2)

,Unnamed: 0,RTZ_name,2018_s1_emissions,2018_source_url,2019_s1_emissions,2019_source_url,2020_s1_emissions,2020_source_url,2021_s1_emissions,2021_source_url,...,Scopes,Unit,Name clean,Country ref,Name clean Global RtZ,Country RtZ,Type RtZ,Match percentage,Match status,Match status v2
0,1,A. P. Møller-Mærsk A/S,0.0,NaN,36204000.0,https://www.maersk.com/~/media_sc9/maersk/corp...,33902000.0,https://www.maersk.com/~/media_sc9/maersk/corp...,36863000.0,https://www.maersk.com/~/media_sc9/maersk/corp...,...,Scope 1,tCO₂e,møller-mærsk,Global,møller-mærsk,Denmark,Company,100,Fully matched,Yes
1,2,AAK AB,0.0,NaN,0.0,NaN,0.0,NaN,269380.0,https://www.aak.com/reports/sustainability_rep...,...,Scope 1,tCO₂e,aak,Global,aak,Sweden,Company,100,Fully matched,Yes

In [ ]:
data = []
for index, row in df.iterrows():
    company_name = row["RTZ_name"]
    report_url = row[f"Source URL"]
    year = row["Latest emissions year"]
    data.append({"company_name": company_name, "report_url": report_url, "year": year})

# Convert the list of dictionaries to a DataFrame and save it as a CSV file
output_df = pd.DataFrame(data)
output_df = output_df.dropna()
output_df["year"] = output_df["year"].astype(int)
output_df.to_csv("data/sheetreports.csv", index=False)

In [23]:
import json

# Load JSON data
with open('data/tech_reports_links.json', 'r') as file:
    json_data = json.load(file)

# Extract required fields
tech_data = []
for key, item in json_data.items():
    company_name = key
    report_url = item.get("pdf_link")
    year = item.get('year_published')
    tech_data.append({"company_name": company_name, "report_url": report_url, "year": year})

# Convert the list of dictionaries to a DataFrame and save it as a CSV file
tech_df = pd.DataFrame(tech_data)
tech_df = tech_df.dropna()
tech_df["year"] = tech_df["year"].astype(int)
tech_df.to_csv("data/tech_reports.csv", index=False)

In [24]:
# merge
csvs = ["data/sheetreports.csv", "data/tech_reports.csv"]
# concatenate csvs into one dataframe
dfs = [pd.read_csv(csv) for csv in csvs]
merged_df = pd.concat(dfs, ignore_index=True)
merged_df.to_csv("data/reports_links.csv", index=False)